<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" class="nav">
	<a th:href="@{/}" class="nav__brand" aria-label="PathFinder home">PathFinder</a>

	<div class="nav__links" aria-label="Primary">
		<a th:href="@{/}" class="nav__link">Landing</a>
		<a th:href="@{/seeker/home}" class="nav__link">Mentee demo</a>
		<a th:href="@{/mentor/home}" class="nav__link">Mentor demo</a>
		<a th:href="@{/admin/home}" class="nav__link">Admin demo</a>
		<a th:href="@{/auth/login}" class="nav__link">Log in</a>
		<a th:href="@{/auth/signup}" class="nav__link nav__cta">Sign up</a>
	</div>
</nav>
