<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" class="nav">
	<a th:href="@{/}" class="nav__brand" aria-label="PathFinder home">PathFinder</a>

	<div class="nav__links" aria-label="Admin">
		<a th:href="@{/admin/home}" class="nav__link">Home</a>
		<a th:href="@{/admin/profile}" class="nav__link">Profile</a>
		<a th:href="@{/admin/mentors/review}" class="nav__link">Mentor review</a>
		<a href="#" class="nav__link nav__link--disabled" aria-disabled="true" tabindex="-1">Platform activity</a>
		<a th:href="@{/}" class="nav__link">Public site</a>
	</div>
</nav>
