<nav xmlns:th="http://www.thymeleaf.org" th:fragment="navbar" class="nav">
	<a th:href="@{/}" class="nav__brand" aria-label="PathFinder home">PathFinder</a>

	<div class="nav__links" aria-label="Admin">
		<a href="#" class="nav__link nav__link--disabled" aria-disabled="true" tabindex="-1">Admin Dashboard</a>
		<a href="#" class="nav__link nav__link--disabled" aria-disabled="true" tabindex="-1">Verify Mentors</a>
		<a href="#" class="nav__link nav__link--disabled" aria-disabled="true" tabindex="-1">Users</a>
		<a href="#" class="nav__link nav__link--disabled" aria-disabled="true" tabindex="-1">Sessions</a>
		<a href="#" class="nav__link nav__link--disabled" aria-disabled="true" tabindex="-1">Payments</a>

		<a href="#" class="nav__link nav__link--disabled" aria-disabled="true" tabindex="-1">Log out</a>
	</div>
</nav>
